* {
  margin: 0;
  padding: 0;
}
body {
  /* font-family: "Roboto", sans-serif; */
  font-family: "Roboto Mono", monospace;
  color: white;
  background-color: rgb(103, 102, 102);
}
/* ---------------------- ⬇️ 1st section ⬇️ ---------------------- */
.main {
  background-color: #0c3b2e;
  width: 100%;
  height: 800px;
}
.first_img {
  width: 600px;
  height: 800px;
  float: right;
}
h1 {
  padding: 120px 0px 0px 100px;
  font-size: 70px;
}
.f_para {
  padding: 20px 0px 0px 100px;
  font-size: 30px;
}
.fsec_para {
  padding: 120px 0px 0px 100px;
  font-size: 20px;
}
.button {
  padding: 20px 0px 0px 100px;
}
button {
  margin-top: 50px;
  padding: 10px 120px;
  background-color: #ffba00;
  border-radius: 20px;
  border: 4px solid rgb(235, 223, 5);
}
button:hover {
  color: white;
  background-color: rgb(198, 86, 1);
}
.but_para {
  font-size: 16px;
  text-align: center;
  font-weight: 800;
}
/* ---------------------- ⬆️ 1st section over ⬆️ ---------------------- */

/* ---------------------- ⬇️ 2nd section ⬇️ ---------------------- */
.sec_main {
  background-color: #6d9773;
  width: 100%;
  height: 500px;
}
/* ---------------------- ⬆️ 2nd section over ⬆️ ---------------------- */

/* ---------------------- ⬇️ 3rd section ⬇️ ---------------------- */
.third_main {
  background-color: #ffba00;
}
/* ---------------------- ⬆️ 3rd section over ⬆️ ---------------------- */

/* ---------------------- ⬇️ 4th section ⬇️ ---------------------- */
.fourth_main {
  background-color: #6d9773;
}
/* ---------------------- ⬆️ 4th section over ⬆️ ---------------------- */

/* ---------------------- ⬇️ 5th section ⬇️ ---------------------- */
.fifth_main {
  background-color: #0c3b2e;
}
/* ---------------------- ⬆️ 5th section over ⬆️ ---------------------- */
