* {
  box-sizing: border-box;
  /* margin: 0;
  padding: 0; */
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.sec1 {
  background-color: #f5f5f5;
  padding: 50px;
  text-align: center;
}

.form1 {
  display: inline-block;
  text-align: left;
  max-width: 400px;
  width: 100%;
}

.form1 h1:first-of-type {
  margin-top: 0;
}

.form1 input[type="text"],
.form1 input[type="email"],
.form1 input[type="password"],
.form1 input[type="address"],
.form1 textarea {
  border: none;
  border-bottom: 2px solid #ddd;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
}

.form1 input[type="radio"] {
  margin-right: 10px;
}

.form1 button[type="submit"] {
  background-color: #0066ff;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  margin-top: 20px;
  width: 100%;
}

.form1 button[type="submit"]:hover {
  background-color: #4a0578;
}

.sec1 {
  background-color: #f5f5f5;
  padding: 50px;
  text-align: center;
}

.form1 {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  padding: 40px;
}

.form1 h1:first-of-type {
  font-size: 36px;
  margin-bottom: 20px;
}

.form1 label {
  color: #666;
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
/* table */
table {
  border: 1px solid black;
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}
th {
  background-color: lightgray;
}
